# Carpetas de construcción y caché
.gradle
/build
.externalNativeBuild
.cxx
/captures

# Archivos de configuración de Android Studio e IntelliJ
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml

# Configuración local del usuario (Ruta del SDK, etc.)
local.properties

# Archivos de sistema
.DS_Store

# Seguridad y Firebase
google-services.json
*.jks
*.keystore
secrets.properties

# Kotlin
.kotlin